openapi: 3.0.0
info:
  title: API de Vivero (Node.js/Sequelize)
  version: 1.0.0
  description: Documentación de la API para la gestión de usuarios, plantas en adopción, solicitudes y mensajería.
servers:
  - url: /api
    description: Servidor Local

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  
  schemas:

    User:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          example: Juan Perez
        email:
          type: string
          example: juan@mail.com
        password:
          type: string
          writeOnly: true
          description: Contrasena sin hashear (solo para POST/PUT)
          example: miContrasenaSecreta
      required: 
        - name
        - email
        - password
    

    Tag:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 1
        name:
          type: string
          example: Suculenta


    PlantCare:
      type: object
      properties:
        light:
          type: string
          example: Indirecta Brillante
        watering:
          type: string
          example: Cada 7-10 días
        humidity:
          type: string
          example: Baja
        temperature:
          type: string
          example: 18-25°C
      required:
        - light
        - watering
        - humidity
        - temperature
        

    Plant:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 5
        name:
          type: string
          example: Cactus Silla de Suegra
        description:
          type: string
          example: Lo dejo porque creció mucho. Necesita mucho sol.
        status:
          type: string
          enum: [AVAILABLE, PENDING_AGREEMENT, ADOPTED]
          example: AVAILABLE
        userId:
          type: integer
          readOnly: true
          description: ID del usuario Donante.
        isCatalog:
          type: boolean
          description: Indica si es solo una planta informativa (Catálogo).
          example: false
        location:
          type: string
          example: Guadalajara
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
          description: Etiquetas asociadas.
        PlantCare:
          $ref: '#/components/schemas/PlantCare'
          description: Información de cuidados si aplica.
        image_url:
          type: string
          description: Ruta local del archivo de imagen.
          example: uploads/imagen_cactus.jpg
      required: 
        - name
        - description
    

    AdoptionRequest:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 10
        plantId:
          type: integer
          example: 5
        requesterId:
          type: integer
          readOnly: true
          example: 2
        message:
          type: string
          nullable: true
          example: Me gustaría mucho adoptarla, cuido bien las plantas.
        status:
          type: string
          enum: [PENDING, ACCEPTED, REJECTED]
          example: PENDING
      required:
        - plantId


    Message:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
          example: 101
        requestId:
          type: integer
          readOnly: true
          example: 10
        senderId:
          type: integer
          readOnly: true
          example: 1
        content:
          type: string
          example: ¿Podríamos vernos el sábado por la mañana?
        isAgreementFinalized:
          type: boolean
          example: false
      required:
        - content

paths:

  /auth/login:
    post:
      tags:
        - Autenticacion
      summary: "[AUTH] Inicia sesión y devuelve un token JWT."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: juan@mail.com
                password:
                  type: string
                  example: miContrasenaSecreta
      responses:
        '200':
          description: Login exitoso, token devuelto.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
  
  /users:
    post:
      tags:
        - Usuarios
      summary: "[CREATE] Registra un nuevo usuario."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: Usuario registrado exitosamente.

  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: ID del usuario.
    get:
      tags:
        - Usuarios
      summary: "[READ] Obtiene información de un usuario por ID."
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Información del usuario.
    put:
      tags:
        - Usuarios
      summary: "[UPDATE] Actualiza la información del usuario logueado (Protegida)."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Usuario actualizado.
    delete:
      tags:
        - Usuarios
      summary: "[DELETE] Elimina el usuario logueado (Protegida)."
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Usuario eliminado.
    


  /plants:
    get:
      tags:
        - Plantas
      summary: "[READ ALL] Obtiene lista de plantas disponibles, catálogo, o ambas."
      parameters:
        - in: query
          name: searchTerm
          schema:
            type: string
          description: Texto para buscar en el nombre de la planta.
        - in: query
          name: tagId
          schema:
            type: integer
          description: Filtrar por ID de etiqueta.
        - in: query
          name: isCatalog
          schema:
            type: boolean
          description: 'Si es true, busca en el catálogo de cuidados. Si es false/ausente, busca en adopción.'
        - in: query
          name: status
          schema:
            type: string
            enum: [AVAILABLE, PENDING_AGREEMENT, ADOPTED]
          description: Filtrar por estado de adopción.
      responses:
        '200':
          description: Lista de plantas obtenida.

    post:
      tags:
        - Plantas
      summary: "[CREATE] Publica una planta en adopción o catálogo. Incluye imagen (Protegida)."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Archivo de imagen de la planta.
                name:
                  type: string
                  example: Cactus Silla de Suegra
                description:
                  type: string
                  example: Lo dejo porque creció mucho. Necesita mucho sol.
                location:
                  type: string
                  example: Guadalajara
                isCatalog:
                  type: boolean
                  example: false
                  description: 'Si es true, se guarda en el catálogo.'
                tagIds:
                  type: string
                  description: Array de IDs de Tags en formato JSON string (ej: "[1, 2]").
                light:
                  type: string
                  description: Cuidado de luz.
                watering:
                  type: string
                  description: Cuidado de riego.
                humidity:
                  type: string
                  description: Cuidado de humedad.
                temperature:
                  type: string
                  description: Cuidado de temperatura.
      responses:
        '201':
          description: Planta creada exitosamente.
  
  /plants/my-plants:
    get:
      tags:
        - Plantas
      summary: "[READ ALL] Obtiene las plantas publicadas por el usuario logueado (Mi Perfil)."
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista de plantas del usuario obtenida.

  /plants/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: ID de la planta.
        
    get:
      tags:
        - Plantas
      summary: "[READ] Obtiene una planta por ID, incluyendo detalles de cuidados y donante."
      responses:
        '200':
          description: Planta obtenida.
        '404':
          description: Planta no encontrada.
    
    put:
      tags:
        - Plantas
      summary: "[UPDATE] Actualiza una planta por ID (Protegida - Solo Donante). Soporta imagen."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Nuevo archivo de imagen (opcional).
                name:
                  type: string
                description:
                  type: string
                location:
                  type: string
                isCatalog:
                  type: boolean
                tagIds:
                  type: string
                  description: Array de IDs de Tags en formato JSON string (ej: "[1, 2]").
                light:
                  type: string
                  description: Cuidado de luz.
                watering:
                  type: string
                  description: Cuidado de riego.

      responses:
        '200':
          description: Planta actualizada.
        '403':
          description: No tienes permiso para editarla.

    delete:
      tags:
        - Plantas
      summary: "[DELETE] Elimina una planta por ID (Protegida - Solo Donante)."
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Planta eliminada.



  
  /requests:
    post:
      tags:
        - Solicitudes de Adopcion
      summary: "[CREATE] Crea una solicitud para adoptar una planta (Protegida)."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptionRequest'
      responses:
        '201':
          description: Solicitud creada exitosamente.
        '400':
          description: La planta no está disponible o ya solicitaste.

  /requests/incoming:
    get:
      tags:
        - Solicitudes de Adopcion
      summary: "[READ ALL] Obtiene las solicitudes recibidas por el usuario (Donante)."
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista de solicitudes entrantes.

  /requests/outgoing:
    get:
      tags:
        - Solicitudes de Adopcion
      summary: "[READ ALL] Obtiene las solicitudes enviadas por el usuario (Solicitante)."
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Lista de solicitudes salientes.

  /requests/{id}/accept:
    put:
      tags:
        - Solicitudes de Adopcion
      summary: "[UPDATE] Acepta una solicitud (habilita el chat). Solo Donante."
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: ID de la Solicitud.
      responses:
        '200':
          description: Solicitud aceptada y chat habilitado.

  /requests/{id}/reject:
    put:
      tags:
        - Solicitudes de Adopcion
      summary: "[UPDATE] Rechaza una solicitud. Solo Donante."
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: ID de la Solicitud.
      responses:
        '200':
          description: Solicitud rechazada.


  
  /messages/{requestId}:
    parameters:
      - in: path
        name: requestId
        schema:
          type: integer
        required: true
        description: ID de la Solicitud Aceptada (actúa como ID del Chat).

    get:
      tags:
        - Mensajería (Chat)
      summary: "[READ ALL] Obtiene el historial de mensajes del acuerdo (Protegida)."
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Historial de mensajes.

    post:
      tags:
        - Mensajería (Chat)
      summary: "[CREATE] Envía un mensaje al chat de acuerdo (Protegida)."
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                  example: ¿Podríamos vernos el sábado por la mañana?
      responses:
        '201':
          description: Mensaje enviado.

  /messages/{requestId}/finalize:
    put:
      tags:
        - Mensajería (Chat)
      summary: "[UPDATE] Marca el acuerdo como cerrado/planta entregada (Protegida)."
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: requestId
          schema:
            type: integer
          required: true
          description: ID de la Solicitud Aceptada (ID del Chat).
      responses:
        '200':
          description: Acuerdo finalizado y planta marcada como ADOPTED.